@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.4rem;
  background-color: #f3eae3;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1000px) {
    height: 100vh;
    justify-content: center;
    border-radius: 0;
  }
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #ffffff;
  line-height: 0;
  color: #72727b;
  font-weight: 500;
  margin-bottom: 24px;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.container__item {
  @media screen and (min-width: 1000px) {
    width: 50%;
  }

  &--text {
    height: 100%;
    line-height: 1.2;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 370px;

    @media screen and (min-width: 1000px) {
      min-height: auto;
    }
  }
}

.picture img {
  width: 100%;
  border-radius: 15px 15px 0 0;

  @media screen and (min-width: 1000px) {
    border-radius: 15px 0 0 15px;
  }
}

.category {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title {
  font-family: "Fraunces";
  color: #1e2329;
  font-size: 2.5rem;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-price {
  font-size: 2.5rem;
  font-family: "Fraunces";
  color: #3d8168;
  margin-right: 20px;
  font-weight: 700;
}

.btn {
  width: 100%;
  font-weight: 700;
  background-color: #3d8168;
  color: #ffffff;
  padding: 14px 0;
  border: none;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: #1a4031;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s;
    z-index: -1;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1);
  }

  img {
    margin-right: 10px;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}